* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", serif;
  font-size: 1.6rem;
  position: relative;
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.navbar-light .navbar-nav .nav-link.active {
  color: rgb(255, 102, 0);
}

.orangeBgColor {
  background-color: rgb(255, 102, 0);
}

.orangeColor {
  color: rgb(255, 102, 0);
}
/* nawigacja */

.navbar-light .navbar-brand {
  font-size: 2.2rem;
  color: rgb(255, 102, 0);
}

.nav-link,
.navbar-toggler-icon {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.navbar-toggler {
  padding: 1em 2em;
}

.carousel-item {
  position: relative;
  height: 600px;
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.carousel-img-one {
  background-image: url("./image/slider-slide-corporate-1base.jpg");
}
.carousel-img-two {
  background-image: url("./image/slider-slide-5-1920x1280base.jpg");
}
.carousel-img-three {
  background-image: url("./image/slider-slide-corporateBase.jpg");
}

.home h2 {
  font-size: 2.6rem;
}

.home p {
  font-size: 1.4rem;
}

.home .btn {
  font-size: 1.4rem;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

/* aboutus */
.aboutus h4 {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .home .btn {
    padding: 1em 2em;
  }

  .aboutus h4 {
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  .home h2 {
    font-size: 4.4rem;
  }

  .home p {
    font-size: 2.6rem;
  }

  .aboutus h4 {
    font-size: 2.4rem;
  }
}

@media (min-width: 1400px) {
  .carousel-item {
    height: 900px;
  }

  .carousel-img-one {
    background-image: url("./image/slider-slide-corporate-1.jpg");
  }
  .carousel-img-two {
    background-image: url("./image/slider-slide-5-1920x1280.jpg");
  }
  .carousel-img-three {
    background-image: url("./image/slider-slide-corporate.jpg");
  }
}
