/* Root Variables */
:root {
  --font-base: "Poppins", serif;
  --font-size-base: 1.6rem;
  --color-primary: rgb(255, 102, 0);
  --color-light: rgb(255, 255, 255);
  --color-dark: rgb(0, 0, 0);
  --color-overlay: rgba(0, 0, 0, 0.6);
  --color-highlight: rgba(255, 165, 0, 0.9);
  --transition-base: 0.3s ease;
}
/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-base);
  font-size: var(--font-size-base);
  position: relative;
  line-height: 1.6;
}

[id] {
  scroll-margin-top: 10px;
}
/* Typography */
h2,
h3 {
  margin-bottom: 1rem;
  line-height: 1.4;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

h4 {
  font-weight: bold;
  text-transform: uppercase;

  transition: color 0.5s ease;
}

h4:hover {
  color: var(--color-primary);
  cursor: pointer;
}

p {
  font-size: 1.4rem;
}

/* Utilities */
.orangeBgColor {
  background-color: var(--color-primary);
}

.orangeColor {
  color: var(--color-primary);
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  z-index: -1;
}

/* Navbar */
.navbar-light .navbar-brand {
  font-size: 2.2rem;
  color: var(--color-primary);
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--color-primary);
}

.navbar-toggler {
  padding: 1em 2em;
  font-size: 1.4rem;
}

/* Carousel */

.carousel-item {
  position: relative;
  height: 600px;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.carousel-img-one {
  background-image: url("./image/slider-slide-corporate-1base.jpg");
}

.carousel-img-two {
  background-image: url("./image/slider-slide-5-1920x1280base.jpg");
}

.carousel-img-three {
  background-image: url("./image/slider-slide-corporateBase.jpg");
}

/* Home Section */

.home .btn {
  font-size: 1.4rem;
  padding: 0.5em 1em;
  text-transform: uppercase;
  transition: background-color var(--transition-base); /* remove line ?*/
}

/* About Us */

.aboutus i {
  font-size: 3rem;
}

.aboutus-img {
  object-fit: cover;
}

/* Parallax */

.parallax-background {
  position: relative;
  background-image: url("./image/parallax-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 0;
}

/* Achievements */

.achievements i {
  font-size: 4.4rem;
}

.achievements h4 {
  font-size: 4rem;
  text-transform: none;
}

.achievements p {
  text-transform: uppercase;
}

/* Projects */

.projects .card {
  position: relative;
  overflow: hidden;
}

.projects .card-img {
  transition: opacity 0.5s ease;
}

.projects .card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 165, 0, 0);
  opacity: 0; /* Ukryj początkowo */
  transition: background 0.5s ease, opacity 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects .card:hover .card-img {
  opacity: 0.3;
}

.projects .card:hover .card-img-overlay {
  background: var(--color-highlight);
  opacity: 1;
}

.projects .card i,
.projects .card h3 {
  font-size: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.projects .card p {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.projects .card-img-top {
  object-fit: cover;
  object-position: center;
  min-height: 100%;
}

/* Contact */
.contact p {
  font-size: 1.8rem;
}

.contact p,
.contact .btn {
  text-transform: uppercase;
}

.contact .btn {
  font-size: 1.4rem;
  padding: 1em 1.8em;
  transition: background-color var(--transition-base);
}

.contact .btn:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
  border: none;
}

.contact .form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}

/* Services */

.services i {
  font-size: 3rem;
}

/* Pricing */

.pricing .card {
  max-width: 300px;
}

.pricing .btn {
  font-size: 1.4rem;
  padding: 0.8em 1.8em;
  text-transform: uppercase;
  transition: background-color var(--transition-base);
}

.pricing .btn:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
  border: none;
}

.pricing h4 {
  font-size: 1.6rem;
}
.pricing p {
  font-size: 1.4rem;
}

.pricing span.price {
  font-size: 4rem;
}
.pricing span.month {
  font-size: 1.4rem;
}

/* Modal */

.modalContact h5 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.modalGallery .btn {
  font-size: 2rem;
}

.modalContact i {
  font-size: 2.4rem;
}

.modalContact input,
.modalContact textarea {
  font-size: 1.3rem;
}
/* Responsive Design */
.label {
  position: absolute;
  top: -40px;
  right: 40px;
}
@media (min-width: 576px) {
  .home .btn {
    padding: 1em 2em;
  }

  .aboutus h4 {
    font-size: 1.8rem;
  }

  .projects .card i {
    font-size: 3.5rem;
  }

  .modalGallery .btn {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 4.4rem;
  }

  h3 {
    font-size: 2.4em;
  }

  .home p {
    font-size: 2.6rem;
  }

  .aboutus h4 {
    font-size: 2.4rem;
  }

  .pricing h4 {
    font-size: 2rem;
  }

  .aboutus-img {
    height: auto;
    margin-block: auto;
  }
  .projects .card i,
  .projects .card h3 {
    font-size: 2rem;
  }

  .contact p {
    font-size: 2.4rem;
  }

  .modalContact h5 {
    font-size: 2rem;
  }

  .modalGallery .btn {
    font-size: 4rem;
  }
}

@media (min-width: 1400px) {
  .carousel-item {
    height: 900px;
  }

  .carousel-img-one {
    background-image: url("./image/slider-slide-corporate-1.jpg");
  }
  .carousel-img-two {
    background-image: url("./image/slider-slide-5-1920x1280.jpg");
  }
  .carousel-img-three {
    background-image: url("./image/slider-slide-corporate.jpg");
  }
}
